<link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">

<div class="header">
    <div><img src="{{server+'icones/'+world.logo}}" /></div>
    <div class="titleWorld">{{world.name}}</div>
    <div>{{world.money | bigvalue}} €</div>
    <div style="padding-top:15px;">
        <button mat-raised-button class="mat-accent" (click)="changeQtMulti()">Buy x {{qtmulti}}</button>
    </div>
    <div>
        <label for="userID">Votre ID</label>
        <input type="text" id="userID" [(ngModel)]="username" (change)="onUsernameChanged()">
    </div>
</div>
<div class="main">
    <div>
        <button mat-stroked-button class="mat-warn" (click)="openPopUnlocks = true">Unlocks</button><br />
        <button mat-stroked-button class="mat-warn" (click)="openPopCash = true">Cash upgrades</button><br />
        <button mat-stroked-button class="mat-warn" (click)="openPopAngels = true">Angels upgrades</button><br />
        <button mat-stroked-button class="mat-warn" [matBadge]="badgeManagers"[matBadgeHidden]="badgeManagers==0" (click)="openPopManagers = true">Managers</button><br />
        <button mat-stroked-button class="mat-warn" (click)="openPopInvestors = true">Investors</button></div>

    <div class="product">
        <div *ngFor="let product of world.products.product">
            <app-product [money]="world.money" [qtmulti]="qtmulti" [prod]="product" (notifyProduction)="onProductionDone($event)" (onBuy)="onBuyDone($event)"
            ></app-product>
        </div>
        <div>
        </div>
    </div>
</div>

<div id="popup1" class="overlay" *ngIf="openPopUnlocks==true">
    <div class="popup">
        <h5>Unlocks</h5>
        <br />
        <div class="close" (click)="openPopUnlocks = false">&times;</div>
        <div class="row">
            <div class="col-md-12">
                <div class="content-pop">
                    <div class="unlocks" *ngFor="let product of world.products.product">
                        <img src="{{product.image}}" />
                        <div id="name">{{product.name}} x2</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="popup2" class="overlay" *ngIf="openPopCash==true">
    <div class="popup">
        <h5>Cash upgrades</h5>
        <br />
        <div class="close" (click)="openPopCash = false">&times;</div>
        <div class="row">
            <div class="col-md-12">
                <div class="content-pop">
                    <div class="upgrades" *ngFor="let product of world.products.product">
                        <img src="{{product.image}}" />
                        <div id="content">
                            <div id="name">Profit de {{product.name}} x2</div>
                            <button mat-flat-button class="mat-accent">Acheter</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="popup3" class="overlay" *ngIf="openPopAngels==true">
    <div class="popup">
        <h5>Angels upgrades</h5>
        <br />
        <div class="close" (click)="openPopAngels = false">&times;</div>
        <div class="row">
            <div class="col-md-12">
                <div class="content-pop">
                    CONTENT
                </div>
            </div>
        </div>
    </div>
</div>

<div id="popup4" class="overlay" *ngIf="openPopManagers==true">
    <div class="popup">
        <h5>Managers</h5>
        <br />
        <div class="close" (click)="openPopManagers = false">&times;</div>
        <div class="row">
            <div class="col-md-12">
                <div class="content-pop">
                    <div *ngFor="let manager of world.managers.pallier">
                        <div *ngIf="manager.unlocked === false" class="managers">
                            <img src="{{server+'icones/'+manager.logo}}" />
                            <div id="name">{{manager.name}}</div>
                            <div id="runs">Produit : {{world.products.product[manager.idcible-1].name}}</div>
                            <button mat-flat-button class="mat-accent" [disabled]="world.money < manager.seuil" (click)="hireManager(manager)">Engager pour {{manager.seuil}} €</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="popup5" class="overlay" *ngIf="openPopInvestors==true">
    <div class="popup">
        <h5>Investors</h5>
        <br />
        <div class="close" (click)="openPopInvestors = false">&times;</div>
        <div class="row">
            <div class="col-md-12">
                <div class="content-pop">
                    CONTENT
                </div>
            </div>
        </div>
    </div>
</div>