<table style="padding-top: 10px">
    <tr>
        <td>
            <span class="product-name">{{product.name}}</span>
            <img (click)="startFabrication()" src="{{server}}{{product.logo}}" title="{{product.name}}" />
            <div id="quantity">{{product.quantite}}</div>
        </td>
        <td style="width:100%;">
            <mat-progress-bar class="progressbar" [value]="progressbarvalue">
            </mat-progress-bar>
            <button mat-raised-button class="mat-warn price" (click)="buyArticle(nbproduit)" [disabled]='!isbuyable'>Buy x {{nbproduit}}</button>
            <div class="price">Cout : {{price | bigvalue}} €</div>
            <div class="price">Revenu : {{revenu | bigvalue}}</div>
        </td>
    </tr>
</table>
