html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.header{background:#f2f2f2;}
.header h4, .header #money, .header #buy, .header #id{padding-top:20px;}
.header img{width:90px; float:left;}

.header{
    display:grid;
    grid-template-columns:15%25%20%20%20%;
}

.header div:not(:first-child){
    padding-top:22px;
}

.titleWorld{
    color:#514555;
    font-size:32px;
    font-family: 'Pacifico', cursive;
}
.main{
    display:grid;
    grid-template-columns:20%60%;
}

.main button{
    width:50% !important;
    text-align:left !important;
    border-top:1px solid transparent !important;
    border-left:1px solid transparent !important;
    border-right:1px solid transparent !important;
    border-radius:0px !important;
}

.product{
    display:grid;
    grid-template-columns:1fr 1fr;
}

.product img{
    width:75px;
    display:inline-block;
}

.product #quantity{
    background:#C7412E;
    color:#fff;
    text-align:center;
    border-radius:20px;
    padding:3px;
    margin-top:-20px;
    position:relative;
    z-index: 1;
}

.product .price{
    background:#514556;
    margin-right:2px;
    color:#fff;
    float:left;
    padding:9px 10px;
    border-radius:5px;
}

.product button{
    margin-right:2px;
    width:0% !important; 
    border-radius:5px !important; 
    padding:0px 10px !important;
    float:left;
}

.unlocks{
  display:grid;
  grid-template-columns:1fr 1fr;
  margin-bottom:20px;
}

.unlocks img{
  width:75px;
  display:inline-block;
}

.unlocks #name{
  background:#C7412E;
  color:#fff;
  text-align:center;
  border-radius:20px;
  padding:5px 15px;
  margin-top:60px;
  position:absolute;
  z-index: 1;
  min-width:50px;
}

.upgrades{
  background:#B9CDCE;
  border-top-left-radius: 100px;
  border-bottom-left-radius: 100px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  margin-bottom:10px;
  height:75px;
}

.upgrades img{
  width:75px;
}

.upgrades #name{
  text-transform:uppercase;
  letter-spacing:1px;
  font-size:10px;
  color:#587C7E;
}

.upgrades #content{
  margin-top:-50px;
  padding-left:90px;
}

.upgrades button{
  height:75px;
  float:right;
  margin-top:-51px;
}

.managers{
  background:#B9CDCE;
  margin-bottom:10px;
  padding:10px;
  border-radius:5px;
}

.managers img{
  width:70px;
  float:left;
  margin-right:15px;
}

.managers #name{
  color:#2F5053;
  font-family:'Pacifico', cursive;
  font-size:20px;
}

.managers #runs{
  text-transform:uppercase;
  letter-spacing:1px;
  font-size:10px;
  color:#587C7E;
}

/*--------------------POP UP--------------------*/
.overlay {
    position: fixed;
    overflow:auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    z-index:10;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  
  .popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative;
    transition: all 5s ease-in-out;
  }
  
  .popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
  }

  .popup h5{
    color:#F44336;
    font-weight:900 !important;
    text-transform:uppercase;
    letter-spacing:1px;
    font-size:24px !important;
  }

  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
    cursor:pointer;
  }
  .popup .close:hover {
    color: rgb(216, 6, 6);
  }
  .popup .content-pop {
    max-height: 30%;
  }
  
  @media screen and (max-width: 700px){
    .box{
      width: 70%;
    }
    .popup{
      width: 70%;
    }
  }

